.button{
  width: 100%;
  background-color: darkblue;
  color: white;
  font-size: 20px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}
.button:disabled{
  background-color: #888;
  cursor: not-allowed;
}